body{
   background:black;
   background-image: url(space.jpg);
   background-repeat: no-repeat;
   background-size:cover;
}
p, h3, h4, li {
    text-align: left;
    color: White;
    font-size:14pt;
}
h1 {
	color:aqua;
	font-size:30pt;
}
h2 {
	font-size:18pt;
	color:aqua;
} 

a{
	font-size:20pt;
	color:aqua;

}